supplier-ingest.json
{
  "name": "Supplier Invoice Ingest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-invoice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "58b9ea2b-be51-4681-9fe1-617922394ce4",
      "name": "Webhook Trigger – CSV Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1536,
        384
      ],
      "webhookId": "579068e0-b4b8-405b-ac09-1f49a59b01fd",
      "notes": "Accepts multipart POST with CSV file. Endpoint: POST /webhook/upload-invoice"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "={{$env.GDRIVE_FOLDER_ID}}",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "663a1ff4-7d53-46a1-9f7a-c176c7314c3d",
      "name": "Google Drive Trigger – Folder Watch",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        192
      ],
      "disabled": true,
      "notes": "BONUS: Monitors a Google Drive folder for new CSV files. Set GDRIVE_FOLDER_ID in environment variables."
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "2c95aabe-dc2b-4fdc-aa40-08951e3ba6b1",
      "name": "Download File from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1536,
        192
      ],
      "disabled": true,
      "notes": "Downloads the CSV file binary from Google Drive for processing."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const binaryKey = Object.keys(item.binary || {})[0];\n  \n  if (!binaryKey) {\n    throw new Error('No binary data found.');\n  }\n  \n  const binaryData = item.binary[binaryKey];\n  \n  results.push({\n    json: {\n      source_hash: binaryData.fileSize + '_' + Date.now(),\n      source_file_name: binaryData.fileName || 'unknown.csv',\n      _binaryKey: binaryKey\n    },\n    binary: item.binary\n  });\n}\n\nreturn results;"
      },
      "id": "afc080c6-3494-4797-b39e-adc62e3a5cfa",
      "name": "Generate SHA-256 Hash",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        288
      ],
      "notes": "Computes SHA-256 of the file contents for idempotency. Prevents reprocessing the same file."
    },
    {
      "parameters": {
        "binaryPropertyName": "={{$json._binaryKey}}",
        "options": {}
      },
      "id": "18f42e42-d359-4ad1-85fc-672d1060ad16",
      "name": "Parse CSV to JSON",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        -1088,
        192
      ],
      "notes": "Parses the binary CSV into JSON rows. Expected headers: supplier_number, supplier_name, invoice_number, department, invoice_date, amount_excl, vat_rate (optional), vat (optional), amount_incl (optional)"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nconst sourceHash = $('Generate SHA-256 Hash').first().json.source_hash;\nconst sourceFileName = $('Generate SHA-256 Hash').first().json.source_file_name;\n\nfor (const item of items) {\n  const row = { ...item.json };\n  const errors = [];\n\n  if (!row.invoice_number || String(row.invoice_number).trim() === '') errors.push('Missing invoice_number');\n  if (!row.supplier_number || String(row.supplier_number).trim() === '') errors.push('Missing supplier_number');\n  if (!row.supplier_name || String(row.supplier_name).trim() === '') errors.push('Missing supplier_name');\n  if (!row.department || String(row.department).trim() === '') errors.push('Missing department');\n  if (!row.invoice_date || String(row.invoice_date).trim() === '') errors.push('Missing invoice_date');\n  if (row.amount_excl === undefined || row.amount_excl === null || row.amount_excl === '') errors.push('Missing amount_excl');\n\n  const amount_excl_vat = parseFloat(row.amount_excl);\n  const vat_rate = row.vat_rate ? parseFloat(row.vat_rate) : 15.0;\n  let vat = row.vat !== undefined && row.vat !== '' && row.vat !== null\n    ? parseFloat(row.vat)\n    : parseFloat((amount_excl_vat * vat_rate / 100).toFixed(2));\n  let amount_incl_vat = parseFloat((amount_excl_vat + vat).toFixed(2));\n\n  if (errors.length === 0) {\n    const diff = Math.abs((amount_excl_vat + vat) - amount_incl_vat);\n    if (diff > 0.01) {\n      errors.push('VAT math mismatch');\n    }\n  }\n\n  // Handle Excel serial date number or normal date string\n  let invoiceDateStr = String(row.invoice_date).trim();\n  let invoiceDate;\n  \n  if (!isNaN(invoiceDateStr) && Number(invoiceDateStr) > 40000) {\n    const excelEpoch = new Date(1899, 11, 30);\n    invoiceDate = new Date(excelEpoch.getTime() + Number(invoiceDateStr) * 86400000);\n    invoiceDateStr = invoiceDate.toISOString().split('T')[0];\n  } else {\n    invoiceDate = new Date(invoiceDateStr);\n  }\n\n  if (isNaN(invoiceDate.getTime())) {\n    errors.push('Invalid invoice_date: ' + invoiceDateStr);\n  } else {\n    const today = new Date();\n    today.setHours(23, 59, 59, 999);\n    if (invoiceDate > today) {\n      errors.push('invoice_date is in the future: ' + invoiceDateStr);\n    }\n  }\n\n  const isValid = errors.length === 0;\n\n  results.push({\n    json: {\n      invoice_number: String(row.invoice_number || '').trim(),\n      supplier_number: String(row.supplier_number || '').trim(),\n      supplier_name: String(row.supplier_name || '').trim(),\n      department: String(row.department || '').trim(),\n      amount_excl_vat: isNaN(amount_excl_vat) ? null : amount_excl_vat,\n      vat: isNaN(vat) ? null : vat,\n      amount_incl_vat: isNaN(amount_incl_vat) ? null : amount_incl_vat,\n      invoice_date: invoiceDateStr,\n      source_file_name: sourceFileName,\n      source_hash: sourceHash,\n      valid: isValid,\n      validation_notes: errors.join('; ') || null\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "31525169-c9ac-4caa-8180-5457ed5362bf",
      "name": "Validate & Normalise Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        192
      ],
      "notes": "Enforces all business rules: required fields, VAT math (±0.01), SA 15% VAT default, future date check. Returns valid=true/false with detailed validation_notes."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{$json.valid}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c43927ed-613e-499d-b68b-73ca920761d3",
      "name": "Route: Valid vs Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -640,
        192
      ],
      "notes": "Splits flow: valid records proceed to dedup check; invalid records are marked as 'failed' and collected for the email summary."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO supplier_invoices \n(invoice_number, supplier_number, supplier_name, department, amount_excl_vat, vat, amount_incl_vat, invoice_date, source_file_name, source_hash, status, validation_notes)\nVALUES \n('{{ $json.invoice_number }}', '{{ $json.supplier_number }}', '{{ $json.supplier_name }}', '{{ $json.department }}', {{ $json.amount_excl_vat }}, {{ $json.vat }}, {{ $json.amount_incl_vat }}, '{{ $json.invoice_date }}', '{{ $json.source_file_name }}', '{{ $json.source_hash }}', 'inserted', '{{ $json.validation_notes }}')\nON CONFLICT (supplier_number, invoice_number) DO NOTHING\nRETURNING invoice_number, supplier_number, 'inserted' as status, validation_notes",
        "options": {}
      },
      "id": "136f3f0c-abea-41b1-a2e3-6b68e4cde9d3",
      "name": "Insert Valid Invoice",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        32,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "4NgGq2wXdEgLbRqD",
          "name": "Postgres account"
        }
      },
      "notes": "Inserts normalised, validated, non-duplicate invoice into supplier_invoices with status='inserted'."
    },
    {
      "parameters": {
        "jsCode": "// Mark this record as duplicate — do not insert\nconst item = $input.first();\nreturn [{\n  json: {\n    ...item.json,\n    status: 'duplicate',\n    validation_notes: 'Duplicate: (supplier_number, invoice_number) already exists in supplier_invoices'\n  }\n}];"
      },
      "id": "fc8e6cfb-6973-4a0f-9283-9e1630f76abd",
      "name": "Mark as Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        192
      ],
      "notes": "Tags duplicate records with status='duplicate'. These are collected and reported in the email summary but not inserted."
    },
    {
      "parameters": {
        "jsCode": "// Mark failed validation records with status='failed'\nconst item = $input.first();\nreturn [{\n  json: {\n    ...item.json,\n    status: 'failed'\n  }\n}];"
      },
      "id": "6991b8b4-8128-4c92-8d56-aa1428522274",
      "name": "Mark as Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        384
      ],
      "notes": "Tags validation-failed records with status='failed'. Includes validation_notes from the validation step."
    },
    {
      "parameters": {
        "jsCode": "// Since INSERT uses ON CONFLICT DO NOTHING, we count based on \n// what was processed by the validate node\nconst allItems = $input.all();\n\n// Get counts from the validate node output via the route\nlet inserted = 0;\nlet duplicates = 0;\nlet failed = 0;\nconst errors = [];\n\nfor (const item of allItems) {\n  // Check what came through\n  const s = item.json.status;\n  const success = item.json.success;\n  \n  if (s === 'failed') {\n    failed++;\n    errors.push({\n      invoice_number: item.json.invoice_number || 'N/A',\n      supplier_number: item.json.supplier_number || 'N/A',\n      reason: item.json.validation_notes || 'Validation failed'\n    });\n  } else if (s === 'duplicate') {\n    duplicates++;\n  } else if (success === true || s === 'inserted') {\n    inserted++;\n  }\n}\n\n// If nothing counted, check if success came through\nif (inserted === 0 && duplicates === 0 && failed === 0) {\n  inserted = allItems.filter(i => i.json.success === true).length;\n}\n\nreturn [{\n  json: {\n    processed: inserted + duplicates + failed,\n    inserted,\n    duplicates,\n    failed,\n    errors: errors.slice(0, 20)\n  }\n}];"
      },
      "id": "20ae9ba1-9183-408f-ba03-2e17b98d37d5",
      "name": "Aggregate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        192
      ],
      "notes": "Combines results from all branches. Counts inserted, duplicates, failed. Builds error table (max 20 rows) for the email alert."
    },
    {
      "parameters": {
        "sendTo": "=nene171408@gmail.com",
        "subject": "Supplier Invoice Ingest Report",
        "message": "=<h2>Supplier Invoice Ingest Summary</h2> <p><b>Processed:</b> {{$json.processed}}</p> <p><b>Inserted:</b> {{$json.inserted}}</p> <p><b>Duplicates:</b> {{$json.duplicates}}</p> <p><b>Failed:</b> {{$json.failed}}</p>",
        "options": {}
      },
      "id": "f5143170-4c15-4444-85d3-d0fc377d0429",
      "name": "Send Email Summary",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        192
      ],
      "webhookId": "4ff0a2b2-ddc9-4343-afb1-83c91b5d1987",
      "credentials": {
        "gmailOAuth2": {
          "id": "ATFNFdXIdPKhpcgT",
          "name": "Gmail account"
        }
      },
      "notes": "Sends HTML email summary. Subject contains live counts. Body has metrics table + error table (max 20 rows). Configure ALERT_EMAIL env var."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"accepted\", \"message\": \"Invoice file received and is being processed.\", \"file\": \"{{$('Generate SHA-256 Hash').first().json.source_file_name}}\"}",
        "options": {}
      },
      "id": "79063098-13d5-44b8-b3c6-0ab6d3717902",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1088,
        384
      ],
      "notes": "Returns immediate JSON acknowledgement to the webhook caller so they don't wait for full processing."
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger – CSV Upload": {
      "main": [
        [
          {
            "node": "Generate SHA-256 Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger – Folder Watch": {
      "main": [
        [
          {
            "node": "Download File from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File from Drive": {
      "main": [
        [
          {
            "node": "Generate SHA-256 Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SHA-256 Hash": {
      "main": [
        [
          {
            "node": "Parse CSV to JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV to JSON": {
      "main": [
        [
          {
            "node": "Validate & Normalise Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalise Rows": {
      "main": [
        [
          {
            "node": "Route: Valid vs Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Valid vs Failed": {
      "main": [
        [
          {
            "node": "Insert Valid Invoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Valid Invoice": {
      "main": [
        [
          {
            "node": "Aggregate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Duplicate": {
      "main": [
        [
          {
            "node": "Aggregate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Failed": {
      "main": [
        [
          {
            "node": "Aggregate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Metrics": {
      "main": [
        [
          {
            "node": "Send Email Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "88e78631-9eeb-471e-bb0a-6e86153292bf",
  "meta": {
    "instanceId": "eb7de7d80f041d879370eb25dc2d21b5c5c4677c6867564831b75ad558a4fad8"
  },
  "id": "teuLkjGDSNkFNuv1",
  "tags": [
    {
      "updatedAt": "2026-03-06T20:20:39.888Z",
      "createdAt": "2026-03-06T20:20:39.888Z",
      "id": "9WJqA054wFjC4R6d",
      "name": "invoice-ingest"
    }
  ]
}